<a href="https://colab.research.google.com/github/PravinTiwari023/Pandas_Tutorial_for_Machine_learning/blob/main/01_Pandas_for_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Pandas Series

In [7]:
lables = ['a','b','c']
my_data = [11,13,24]
arr = np.array(my_data)

pd.Series(data = my_data)

0    11
1    13
2    24
dtype: int64

In [8]:
pd.Series(data = my_data, index = lables)

a    11
b    13
c    24
dtype: int64

In [9]:
pd.Series(arr, lables)

a    11
b    13
c    24
dtype: int64

In [10]:
dict = {'a':10, 'b':20, 'c':30}

pd.Series(dict)

a    10
b    20
c    30
dtype: int64

In [12]:
# Pandas are very flexible in storing anything 

pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [13]:
ser1 = pd.Series([1,2,3,4],["USA","Germany","USSR","Japan"])

ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [15]:
ser2 = pd.Series([1,2,5,4],["USA","Germany","Italy","Japan"])

ser2

USA        1
Germany    2
Italy      5
Japan      4
dtype: int64

In [17]:
# It is showing NAN bcoz its not finding match in other table

ser1 + ser2

Germany    4.0
Italy      NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64