<a href="https://colab.research.google.com/github/PravinTiwari023/Pandas_Tutorial_for_Machine_learning/blob/main/02_Pandas_for_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from numpy.random import randn
import numpy as np
import pandas as pd

Pandas DataFrames

In [5]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['column 1','column 2','column 3','column 4'])

df

   column 1  column 2  column 3  column 4
A -1.743157  0.896470 -0.880438  0.307904
B  1.061039 -0.514242  0.666195  1.257448
C  0.722903 -0.876047 -1.367670 -1.258586
D -0.205340 -1.407293 -0.728947  0.311706
E -0.323124  1.424848  0.412229  0.478089

In [6]:
df['column 1']

A   -1.743157
B    1.061039
C    0.722903
D   -0.205340
E   -0.323124
Name: column 1, dtype: float64

In [9]:
type(df['column 1'])

pandas.core.series.Series

In [11]:
# So we can say dataframe is the combination of pandas series

type(df)

pandas.core.frame.DataFrame

In [16]:
df[['column 1','column 3']]

   column 1  column 3
A -1.743157 -0.880438
B  1.061039  0.666195
C  0.722903 -1.367670
D -0.205340 -0.728947
E -0.323124  0.412229

In [23]:
df['new'] = df['column 1'] + df['column 4']

df

   column 1  column 2  column 3  column 4       new
A -1.743157  0.896470 -0.880438  0.307904 -1.435253
B  1.061039 -0.514242  0.666195  1.257448  2.318487
C  0.722903 -0.876047 -1.367670 -1.258586 -0.535683
D -0.205340 -1.407293 -0.728947  0.311706  0.106367
E -0.323124  1.424848  0.412229  0.478089  0.154965

In [24]:
# axis = 1 is for column
# axis = 0 is for row and its default one

df.drop('new',axis=1)

   column 1  column 2  column 3  column 4
A -1.743157  0.896470 -0.880438  0.307904
B  1.061039 -0.514242  0.666195  1.257448
C  0.722903 -0.876047 -1.367670 -1.258586
D -0.205340 -1.407293 -0.728947  0.311706
E -0.323124  1.424848  0.412229  0.478089

In [25]:
df

   column 1  column 2  column 3  column 4       new
A -1.743157  0.896470 -0.880438  0.307904 -1.435253
B  1.061039 -0.514242  0.666195  1.257448  2.318487
C  0.722903 -0.876047 -1.367670 -1.258586 -0.535683
D -0.205340 -1.407293 -0.728947  0.311706  0.106367
E -0.323124  1.424848  0.412229  0.478089  0.154965

In [26]:
# for permanently drop we have to use inplace

df.drop('new',axis=1,inplace=True)

df

   column 1  column 2  column 3  column 4
A -1.743157  0.896470 -0.880438  0.307904
B  1.061039 -0.514242  0.666195  1.257448
C  0.722903 -0.876047 -1.367670 -1.258586
D -0.205340 -1.407293 -0.728947  0.311706
E -0.323124  1.424848  0.412229  0.478089

In [27]:
df.drop('E',axis=0)

   column 1  column 2  column 3  column 4
A -1.743157  0.896470 -0.880438  0.307904
B  1.061039 -0.514242  0.666195  1.257448
C  0.722903 -0.876047 -1.367670 -1.258586
D -0.205340 -1.407293 -0.728947  0.311706

In [28]:
df

   column 1  column 2  column 3  column 4
A -1.743157  0.896470 -0.880438  0.307904
B  1.061039 -0.514242  0.666195  1.257448
C  0.722903 -0.876047 -1.367670 -1.258586
D -0.205340 -1.407293 -0.728947  0.311706
E -0.323124  1.424848  0.412229  0.478089

In [29]:
df.shape

(5, 4)

In [31]:
# Grabbing rows 
# this method will give pandas series and we can say the rows are also Panda series 

df.loc['A']

column 1   -1.743157
column 2    0.896470
column 3   -0.880438
column 4    0.307904
Name: A, dtype: float64

In [32]:
df.iloc[0]

column 1   -1.743157
column 2    0.896470
column 3   -0.880438
column 4    0.307904
Name: A, dtype: float64

In [33]:
df

   column 1  column 2  column 3  column 4
A -1.743157  0.896470 -0.880438  0.307904
B  1.061039 -0.514242  0.666195  1.257448
C  0.722903 -0.876047 -1.367670 -1.258586
D -0.205340 -1.407293 -0.728947  0.311706
E -0.323124  1.424848  0.412229  0.478089

In [34]:
# subsets of selecting rows and columns

df.loc[['A', 'B'],['column 1', 'column 3']]

   column 1  column 3
A -1.743157 -0.880438
B  1.061039  0.666195