<a href="https://colab.research.google.com/github/PravinTiwari023/Pandas_Tutorial_for_Machine_learning/blob/main/03_Pandas_for_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Coditional selection

In [4]:
df = pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['column 1','column 2','column 3','column 4'])

df

   column 1  column 2  column 3  column 4
A -1.663459  0.593027 -1.968309 -1.022572
B -1.107457  0.603259  0.206630  0.083819
C  0.286714 -0.214678  0.181030  0.500172
D  0.707026  0.987462  0.646590  0.185464
E -0.918267 -1.514885 -0.592153 -0.421859

In [5]:
df > 0

   column 1  column 2  column 3  column 4
A     False      True     False     False
B     False      True      True      True
C      True     False      True      True
D      True      True      True      True
E     False     False     False     False

In [6]:
booldf = df > 0

df[booldf]

   column 1  column 2  column 3  column 4
A       NaN  0.593027       NaN       NaN
B       NaN  0.603259   0.20663  0.083819
C  0.286714       NaN   0.18103  0.500172
D  0.707026  0.987462   0.64659  0.185464
E       NaN       NaN       NaN       NaN

In [7]:
df['column 1'] > 0

A    False
B    False
C     True
D     True
E    False
Name: column 1, dtype: bool

In [8]:
df[df['column 1'] > 0]

   column 1  column 2  column 3  column 4
C  0.286714 -0.214678   0.18103  0.500172
D  0.707026  0.987462   0.64659  0.185464

In [10]:
new_df = df[df['column 1'] < 0]

new_df

   column 1  column 2  column 3  column 4
A -1.663459  0.593027 -1.968309 -1.022572
B -1.107457  0.603259  0.206630  0.083819
E -0.918267 -1.514885 -0.592153 -0.421859

In [11]:
new_df['column 4']

A   -1.022572
B    0.083819
E   -0.421859
Name: column 4, dtype: float64

In [14]:
# we can do this in single command also

df[df['column 1']<0]['column 4']

A   -1.022572
B    0.083819
E   -0.421859
Name: column 4, dtype: float64

In [15]:
df[df['column 1']<0][['column 2','column 3']]

   column 2  column 3
A  0.593027 -1.968309
B  0.603259  0.206630
E -1.514885 -0.592153

In [17]:
# we directly can not use "and" and "or" it will show series is ambigious
# instead of this we can use "&" and "|"

df[(df['column 1']<0) & (df['column 3']<0)]

   column 1  column 2  column 3  column 4
A -1.663459  0.593027 -1.968309 -1.022572
E -0.918267 -1.514885 -0.592153 -0.421859

Resetting the Index

In [18]:
df

   column 1  column 2  column 3  column 4
A -1.663459  0.593027 -1.968309 -1.022572
B -1.107457  0.603259  0.206630  0.083819
C  0.286714 -0.214678  0.181030  0.500172
D  0.707026  0.987462  0.646590  0.185464
E -0.918267 -1.514885 -0.592153 -0.421859

In [19]:
df.reset_index()

  index  column 1  column 2  column 3  column 4
0     A -1.663459  0.593027 -1.968309 -1.022572
1     B -1.107457  0.603259  0.206630  0.083819
2     C  0.286714 -0.214678  0.181030  0.500172
3     D  0.707026  0.987462  0.646590  0.185464
4     E -0.918267 -1.514885 -0.592153 -0.421859

In [22]:
# for that uh have to use inplace = True

df

   column 1  column 2  column 3  column 4
A -1.663459  0.593027 -1.968309 -1.022572
B -1.107457  0.603259  0.206630  0.083819
C  0.286714 -0.214678  0.181030  0.500172
D  0.707026  0.987462  0.646590  0.185464
E -0.918267 -1.514885 -0.592153 -0.421859

In [25]:
newind = "MAH UP MP AP BAN".split()

newind

['MAH', 'UP', 'MP', 'AP', 'BAN']

In [27]:
df['States'] = newind

df

   column 1  column 2  column 3  column 4 States
A -1.663459  0.593027 -1.968309 -1.022572    MAH
B -1.107457  0.603259  0.206630  0.083819     UP
C  0.286714 -0.214678  0.181030  0.500172     MP
D  0.707026  0.987462  0.646590  0.185464     AP
E -0.918267 -1.514885 -0.592153 -0.421859    BAN

In [28]:
df.set_index("States")

        column 1  column 2  column 3  column 4
States
MAH    -1.663459  0.593027 -1.968309 -1.022572
UP     -1.107457  0.603259  0.206630  0.083819
MP      0.286714 -0.214678  0.181030  0.500172
AP      0.707026  0.987462  0.646590  0.185464
BAN    -0.918267 -1.514885 -0.592153 -0.421859

In [30]:
# for changes uh have to use inplace = True 

df

   column 1  column 2  column 3  column 4 States
A -1.663459  0.593027 -1.968309 -1.022572    MAH
B -1.107457  0.603259  0.206630  0.083819     UP
C  0.286714 -0.214678  0.181030  0.500172     MP
D  0.707026  0.987462  0.646590  0.185464     AP
E -0.918267 -1.514885 -0.592153 -0.421859    BAN