<a href="https://colab.research.google.com/github/PravinTiwari023/Pandas_Tutorial_for_Machine_learning/blob/main/05_Pandas_for_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Pandas missing values

In [2]:
d = {'A':[1,2,np.nan],'B':[2,np.nan,np.nan],'C':[7,8,9]}

df = pd.DataFrame(d)
df

     A    B  C
0  1.0  2.0  7
1  2.0  NaN  8
2  NaN  NaN  9

In [3]:
df.dropna()

     A    B  C
0  1.0  2.0  7

In [5]:
# Use inplace = True

df

     A    B  C
0  1.0  2.0  7
1  2.0  NaN  8
2  NaN  NaN  9

In [6]:
df.fillna(0)

     A    B  C
0  1.0  2.0  7
1  2.0  0.0  8
2  0.0  0.0  9

In [7]:
df

     A    B  C
0  1.0  2.0  7
1  2.0  NaN  8
2  NaN  NaN  9

In [9]:
df['A'].fillna(df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

Group By Method

In [10]:
d = {'company':['Goog','Goog','Msft','Msft','FB','FB'],
     'person':['leo','theago','cristiano','sem','donny','luis'],
     'sales':[200,190,170,220,150,210]}

In [12]:
df = pd.DataFrame(d)

df

  company     person  sales
0    Goog        leo    200
1    Goog     theago    190
2    Msft  cristiano    170
3    Msft        sem    220
4      FB      donny    150
5      FB       luis    210

In [14]:
bycom = df.groupby('company')

bycom

In [15]:
bycom.mean()

         sales
company
FB       180.0
Goog     195.0
Msft     195.0

In [16]:
bycom.sum()

         sales
company
FB         360
Goog       390
Msft       390

In [17]:
bycom.std()

             sales
company
FB       42.426407
Goog      7.071068
Msft     35.355339

In [18]:
bycom.sum().loc['FB']

sales    360
Name: FB, dtype: int64

In [20]:
df.groupby('company').sum().loc['FB']

sales    360
Name: FB, dtype: int64

In [21]:
df.groupby('company').count()

         person  sales
company
FB            2      2
Goog          2      2
Msft          2      2

In [22]:
df.groupby('company').max()

         person  sales
company
FB         luis    210
Goog     theago    200
Msft        sem    220

In [23]:
df.groupby('company').min()

            person  sales
company
FB           donny    150
Goog           leo    190
Msft     cristiano    170

In [25]:
df.groupby('company').describe()

        sales
        count   mean        std    min    25%    50%    75%    max
company
FB        2.0  180.0  42.426407  150.0  165.0  180.0  195.0  210.0
Goog      2.0  195.0   7.071068  190.0  192.5  195.0  197.5  200.0
Msft      2.0  195.0  35.355339  170.0  182.5  195.0  207.5  220.0

In [27]:
df.groupby('company').describe().transpose()['FB']

sales  count      2.000000
       mean     180.000000
       std       42.426407
       min      150.000000
       25%      165.000000
       50%      180.000000
       75%      195.000000
       max      210.000000
Name: FB, dtype: float64