<a href="https://colab.research.google.com/github/PravinTiwari023/Pandas_Tutorial_for_Machine_learning/blob/main/06_Pandas_for_data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

Merging, Joining and Concatinating

In [8]:
df1 = pd.DataFrame({'A':['A1','A2','A3','A4'],
                    'B':['B1','B2','B3','B4'],
                    'C':['C1','C2','C3','C4'],
                    'D':['D1','D2','D3','D4']},
                   index=[1,2,3,4])

In [9]:
df2 = pd.DataFrame({'A':['A5','A6','A7','A8'],
                    'B':['B5','B6','B7','B8'],
                    'C':['C5','C6','C7','C8'],
                    'D':['D5','D6','D7','D8']},
                   index=[5,6,7,8])

In [10]:
df3 = pd.DataFrame({'A':['A9','A10','A11','A12'],
                    'B':['B9','B10','B11','B12'],
                    'C':['C9','C10','C11','C12'],
                    'D':['D9','D10','D11','D12']},
                   index=[9,10,11,12])

In [11]:
df1

    A   B   C   D
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4

In [12]:
df2

    A   B   C   D
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7
8  A8  B8  C8  D8

In [13]:
df3

      A    B    C    D
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
12  A12  B12  C12  D12

### concatinate

In [14]:
pd.concat([df1,df2,df3])

      A    B    C    D
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
12  A12  B12  C12  D12

In [15]:
pd.concat([df1,df2,df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4    A4   B4   C4   D4  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN   A8   B8   C8   D8  NaN  NaN  NaN  NaN
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11
12  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A12  B12  C12  D12

In [22]:
left = pd.DataFrame({'Key':['K0','K1','K2','K3'],
                       'A':['A0','A1','A2','A3'],
                       'B':['B0','B1','B2','B3']})

In [23]:
right = pd.DataFrame({'Key':['K0','K1','K2','K3'],
                       'C':['C0','C1','C2','C3'],
                       'D':['D0','D1','D2','D3']})

In [24]:
left

  Key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2
3  K3  A3  B3

In [25]:
right

  Key   C   D
0  K0  C0  D0
1  K1  C1  D1
2  K2  C2  D2
3  K3  C3  D3

Merge

In [26]:
pd.merge(left,right,how='inner',on='Key')

  Key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

In [37]:
left = pd.DataFrame({'A':['A0','A1','A2'],
                     'B':['B0','B1','B2']},
                    index = ['K0','K1','K2'])

In [38]:
right = pd.DataFrame({'C':['C0','C2','C3'],
                     'D':['D0','D2','D3']},
                    index = ['K0','K2','K3'])

In [39]:
left

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2

In [40]:
right

     C   D
K0  C0  D0
K2  C2  D2
K3  C3  D3

In [41]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [42]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3